/* Reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

a {
  all: unset;
}

/* General space styling */
@font-face {
  font-family: "PlayfairDisplay";
  src: url(/src/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf);
  src: url(/src/Playfair_Display/PlayfairDisplay-Italic-VariableFont_wght.ttf);
  src: url(/src/Playfair_Display/static/PlayfairDisplay-Bold.ttf);
  src: url(/src/Playfair_Display/static/PlayfairDisplay-BoldItalic.ttf);
  src: url(/src/Playfair_Display/static/PlayfairDisplay-Regular.ttf);
}

:root {
  --pink: #fde5ec;
  --peach: #fcbaad;
  --darkPeach: #e48586;
  --purple: #916db3;
  --trasparentPink: #fde5ec;
  --transparentPeach: #fcbaad;
  --transparentDarkPeach: #e48586;

  --purpleFilter: invert(53%) sepia(18%) saturate(1081%) hue-rotate(228deg)
    brightness(87%) contrast(90%);
  --darkPeachFilter: invert(58%) sepia(89%) saturate(403%) hue-rotate(309deg)
    brightness(97%) contrast(84%);

  font-family: "PlayfairDisplay";

  /* Step -2: 12.50px → 12.80px */
  --step--2: clamp(0.78rem, calc(0.77rem + 0.03vw), 0.8rem);

  /* Step -1: 15.00px → 16.00px */
  --step--1: clamp(0.94rem, calc(0.92rem + 0.11vw), 1rem);

  /* Step 0: 18.00px → 20.00px */
  --step-0: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);

  /* Step 1: 21.60px → 25.00px */
  --step-1: clamp(1.35rem, calc(1.28rem + 0.37vw), 1.56rem);

  /* Step 2: 25.92px → 31.25px */
  --step-2: clamp(1.62rem, calc(1.5rem + 0.58vw), 1.95rem);

  /* Step 3: 31.10px → 39.06px */
  --step-3: clamp(1.94rem, calc(1.77rem + 0.87vw), 2.44rem);

  /* Step 4: 37.32px → 48.83px */
  --step-4: clamp(2.33rem, calc(2.08rem + 1.25vw), 3.05rem);

  /* Step 5: 44.79px → 61.04px */
  --step-5: clamp(2.8rem, calc(2.45rem + 1.77vw), 3.82rem);
}

.dark-theme {
  --pink: #916db3;
  --peach: #e48586;
  --darkPeach: #fcbaad;
  --purple: #fde5ec;
  --trasparentPink: #fde5ec;
  --transparentPeach: #fcbaad;
  --transparentDarkPeach: #e48586;

  --purpleFilter: invert(58%) sepia(89%) saturate(403%) hue-rotate(309deg)
    brightness(97%) contrast(84%);
  --darkPeachFilter: invert(86%) sepia(12%) saturate(306%) hue-rotate(297deg)
    brightness(106%) contrast(98%);
}

body {
  background-color: var(--pink);
  font-size: var(--step-0);
  overflow-x: hidden;
}

#content {
  /* height: 100%;
  width: 100%; */
  display: grid;
  align-content: space-between;
}

/* #header {
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 6fr;
  align-items: center;
} */

.section-header {
  font-size: var(--step-3);
  font-weight: bold;
}

/* Navigation styling */

#nav-container-main {
  z-index: 99999;
  font-size: var(--step-1);
  color: var(--pink);
  font-weight: bold;
  background-color: var(--darkPeach);
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  padding: 1rem max(6vw, 2rem);
  position: sticky;
  top: 0;
  align-self: start;
}

.nav-container {
  display: grid;
  grid-auto-flow: column;
  gap: max(4vw, 2rem);
}

.nav {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  gap: max(4vw, 2rem);
}

#nav-logo {
  width: 100px;
}

.nav-item,
.drop-down-item {
  padding-bottom: 10px;
  padding-left: 15px;
  padding-top: 0;
  padding-right: 0;
  border-bottom: solid 2px var(--purple);
  text-align: end;
  transition: background-color 0.5s ease-in-out, padding-bottom 1s ease-in-out,
    padding-left 1s ease-in-out, border-radius 1s ease-in-out,
    padding-top 1s ease-in-out, padding-right 1s ease-in-out;
}

.nav-item:hover,
.nav-item:focus,
.drop-down-item:hover,
.drop-down-item:focus {
  background-color: var(--purple);
  color: var(--pink);
  padding-bottom: 3px;
  padding-top: 10px;
  padding-right: 15px;
  padding-left: 5px;
  border-radius: 5px;
  text-align: start;
}

/* Switch dark mode btn styling */
input[type="checkbox"] {
  position: relative;
  width: 60px;
  height: 30px;
  -webkit-appearance: none;
  appearance: none;
  background: var(--pink);
  outline: none;
  border-radius: 2rem;
  cursor: pointer;
  box-shadow: inset 0 0 5px rgb(0 0 0 / 50%);
}

input[type="checkbox"]::before {
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: var(--purple);
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
  font-family: fontAwesome;
  content: "\f185";
  color: var(--pink);
  display: grid;
  place-items: center;
}

input[type="checkbox"]:checked::before {
  transform: translateX(100%);
  /* background: var(--pink); */
  font-family: fontAwesome;
  content: "\f186";
  /* color: var(--purple); */
}

input[type="checkbox"]:checked {
  /* background: var(--purple); */
}

/* Drop down menu styling */

#drop-down-container {
  display: none;
  position: relative;
}

.drop-down-btn {
  background-color: var(--pink);
  width: 35px;
  height: 35px;
  border-radius: 10px;
}

.drop-down-btn::before {
  font-family: fontAwesome;
  content: "\f0c9";
  color: var(--darkPeach);
  font-size: var(--step-1);
}
.drop-down-btn:hover,
.drop-down-container.active > .drop-down-btn,
.nav-btn:hover {
  background-color: var(--purple);
}

#drop-down-menu {
  position: absolute;
  right: 0;
  top: calc(100% + 0.25rem);
  background-color: var(--peach);
  color: var(--darkPeach);
  padding: 20px;
  border-radius: 0.25rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.238);
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
  display: grid;
  gap: 15px;
  z-index: 9999;
}

#drop-down-container.active > .drop-down-btn + #drop-down-menu {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
  z-index: 9999;
}

.drop-down-item {
  color: var(--purple);
}

/* Hero styling */

#hero {
  scroll-margin-top: 96px;
  height: 80vh;
  margin-bottom: 50px;
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 2rem max(5vw, 2rem);
  /* justify-self: center;
  grid-template-columns: 1fr 2fr; */
}

#big-logo {
  width: max(30vw, 300px);
  padding: 0 2rem;
  /* min-width: 300px; */
}

#hero-text {
  font-size: var(--step-4);
  color: var(--darkPeach);
  font-weight: bold;
  padding: 0 2rem;
  width: max(45vw, 280px);
  /* line-height: 4rem; */
}

/* Animations */

.hidden-left {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);

  transition: all 3s;
  transition-delay: 0.5s;
}

.show-left {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.hidden-right {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(100%);
  transition: all 3s;
}

.show-right {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

/* About me section styling */

#about-me {
  scroll-margin-top: 96px;
  height: 100vh;
  display: grid;
  grid-auto-flow: column;
  place-items: center;
  place-content: center;
  gap: 60px;
  padding: 2rem max(2vw, 2rem);
  color: var(--purple);
}

#about-container {
  display: grid;
  gap: 20px;
  width: max(45vw, 350px);
  justify-items: start;
}

#about-me-nav {
  display: grid;
  grid-auto-flow: column;
  gap: 20px;
  list-style: none;
  font-weight: bold;
}

.about-nav-item {
  background-color: inherit;
  color: var(--darkPeach);
  padding-bottom: 10px;
  padding-left: 15px;
  padding-top: 0;
  padding-right: 0;
  border-bottom: solid 2px var(--purple);
  text-align: end;

  transition: background-color 0.5s ease-in-out, padding-bottom 1s ease-in-out,
    padding-left 1s ease-in-out, border-radius 1s ease-in-out,
    padding-top 1s ease-in-out, padding-right 1s ease-in-out;
}

.about-nav-item:hover,
.about-nav-item:focus {
  background-color: var(--purple);
  color: var(--pink);
  padding-bottom: 3px;
  padding-top: 10px;
  padding-right: 15px;
  padding-left: 5px;
  border-radius: 5px;
  text-align: start;
}

#about-me-text {
  width: 100%;
  line-height: 2rem;
  padding: 2rem 0;
}

#portriat {
  border-radius: 20px;
  box-shadow: 20px -8px var(--purple);
  width: max(30vw, 300px);
  transition: box-shadow 0.5s ease-in-out;
}

#portriat:hover {
  box-shadow: 20px 8px var(--darkPeach);
}

/* Skills styling */

.skills-container {
  width: 100%;
  display: grid;
  gap: 15px;
  row-gap: 50px;
  place-content: center;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  /* grid-template-rows: repeat(auto-fit, minmax(60px, 1fr)); */
}

.skills-item {
  display: grid;
  place-content: center;
  place-items: center;
  gap: 5px;
}

.skill-pic {
  width: 50px;
  /* filter: invert(58%) sepia(89%) saturate(403%) hue-rotate(309deg)
    brightness(97%) contrast(84%); */
  filter: var(--darkPeachFilter);
  transition: filter 0.5s ease-in-out;
}

.skill-pic:hover {
  /* filter: invert(53%) sepia(18%) saturate(1081%) hue-rotate(228deg)
    brightness(87%) contrast(90%); */
  filter: var(--purpleFilter);
}

.skill-name {
  text-align: center;
}

/* Projects section */

#projects {
  scroll-margin-top: 96px;
  display: grid;
  place-content: center;
  place-items: center;
  padding: 2rem max(2vw, 2rem);
  color: var(--purple);
}

.projects-header {
  font-size: var(--step-3);
  font-weight: bold;
}

.class-header {
  font-size: var(--step-3);
  font-weight: bold;
}

.projects-carousel {
  display: grid;
  grid-auto-flow: column;
}

.carousel-ul {
  --slider-index: 0;
  padding: 10px 0;
  width: max(60vw, 400px);
  height: fit-content;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 100%;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
}

.carousel-ul::-webkit-scrollbar {
  display: none;
}

.project-item > img {
  inline-size: 70%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  padding: 5px;
}

.project-item {
  width: 100%;
  display: grid;
  grid-template-rows: min-content;
  gap: 10px;
  padding: 15px 0;
  justify-items: center;
}

.project-text-container {
  display: grid;
  grid-template-rows: min-content;
  gap: 20px;
  padding: 15px;
  width: 90%;
  justify-items: center;
}

.project-title {
  color: var(--darkPeach);

  font-size: var(--step-2);
}

.proj-btn-container {
  display: grid;
  grid-auto-flow: column;
  gap: 30px;
}

.proj-btn {
  background-color: inherit;
  color: var(--darkPeach);
  padding-bottom: 10px;
  padding-left: 15px;
  padding-top: 0;
  padding-right: 0;
  border-bottom: solid 2px var(--purple);
  text-align: end;

  transition: background-color 0.5s ease-in-out, padding-bottom 1s ease-in-out,
    padding-left 1s ease-in-out, border-radius 1s ease-in-out,
    padding-top 1s ease-in-out, padding-right 1s ease-in-out;
}

.proj-btn:hover,
.proj-btn:focus {
  background-color: var(--purple);
  color: var(--pink);
  padding-bottom: 3px;
  padding-top: 10px;
  padding-right: 15px;
  padding-left: 5px;
  border-radius: 5px;
  text-align: start;
}

#btn-left::before {
  font-size: var(--step-3);
  font-family: "fontAwesome";
  content: "\f053";
  padding-right: 5px;
}

#btn-right::before {
  font-size: var(--step-3);
  font-family: "fontAwesome";
  content: "\f054";
  padding-left: 5px;
}

/* Contacts section styling */

#contacts {
  scroll-margin-top: 96px;
  height: 70vh;
  display: grid;
  place-items: center;
  place-content: center;
  gap: 60px;
  padding: 2rem max(2vw, 2rem);
  color: var(--purple);
  font-size: var(--step-2);
}

.contacts-container {
  display: grid;
  gap: 50px;
  width: max(40vw, 350px);
}

.contacts-hero {
  color: var(--darkPeach);
  font-weight: bold;
  text-align: center;
}

.btn-lin {
  justify-self: start;
}

.btn-email,
.btn-github {
  justify-self: end;
}

.cont-btn {
  background-color: inherit;
  color: var(--darkPeach);
  padding-bottom: 10px;
  padding-left: 15px;
  padding-top: 0;
  padding-right: 0;
  border-bottom: solid 2px var(--purple);
  text-align: end;

  transition: background-color 0.5s ease-in-out, padding-bottom 1s ease-in-out,
    padding-left 1s ease-in-out, border-radius 1s ease-in-out,
    padding-top 1s ease-in-out, padding-right 1s ease-in-out;
}

.cont-btn:hover,
.cont-btn:focus {
  background-color: var(--purple);
  color: var(--pink);
  padding-bottom: 3px;
  padding-top: 10px;
  padding-right: 15px;
  padding-left: 5px;
  border-radius: 5px;
  text-align: start;
}

.btn-email::before {
  font-size: var(--step-3);
  font-family: "fontAwesome";
  content: "\f0e0";
  padding-right: 5px;
}

.btn-lin::before {
  font-size: var(--step-3);
  font-family: "fontAwesome";
  content: "\f08c";
  padding-right: 5px;
}

.btn-github::before {
  font-size: var(--step-3);
  font-family: "fontAwesome";
  content: "\f09b";
  padding-right: 5px;
}

/* Footer styling */

#footer {
  height: 80px;
  background-color: var(--purple);
  color: var(--pink);
  display: grid;
  place-content: center;
  place-items: center;
}

#github-link::after {
  font-size: var(--step-3);
  font-family: "fontAwesome";
  content: "\f09b";
  padding-left: 10px;
}

/* Mobile version styling */

@media (max-width: 600px) {
  /* Nav to drop-down */
  .nav {
    display: none;
  }

  #drop-down-container {
    display: block;
  }

  /* Hero atyling */
  #header {
    height: fit-content;
  }

  #hero {
    height: 100vh;
    display: grid;
    grid-auto-flow: row;
    justify-items: center;
  }

  #hero-text {
    width: 80%;
    line-height: 3rem;
  }

  /* About me section styling */
  #about-me {
    grid-auto-flow: row;
    height: fit-content;
  }

  #about-container {
    justify-items: center;
    text-align: justify;
  }

  /* Projects section */
  #projects {
    height: 100vh;
  }

  /* Contacts section */
  #contacts {
    height: 100vh;
  }
}

/* Tablet styling */

@media (min-width: 600px) and (max-width: 1000px) {
  /* Nav to drop-down */
  .nav {
    display: none;
  }

  #drop-down-container {
    display: block;
  }

  /* Hero styling */
  #header {
    align-items: start;
  }

  #big-logo {
    width: max(40vw, 400px);
    justify-self: end;
  }

  #hero-text {
    width: 80%;
    line-height: 4rem;
  }

  #hero {
    height: 80vh;
    grid-auto-flow: row;
    justify-items: center;
  }

  /* About me section styling */
  #about-me {
    grid-auto-flow: row;
  }

  #about-container {
    width: max(80vw, 500px);
    justify-items: center;
    text-align: justify;
    font-size: var(--step-2);
  }

  .skills-container {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }

  /* Projects section */
  #projects {
    height: 80vh;
  }

  .carousel-ul {
    width: 80vw;
  }

  .project-item,
  .project-text-container {
    gap: 40px;
    font-size: var(--step-2);
  }

  .project-title,
  .proj-btn-container {
    font-size: var(--step-3);
  }

  /* Contacts section */
  #contacts {
    height: 80vh;
    font-size: var(--step-3);
  }

  .contacts-container {
    width: 70vw;
    gap: 100px;
  }
  /* #portriat {
    width: max(50vw, 500px);
  } */
}

/* Tablet small height */
@media (max-height: 750px) and (min-width: 600px) {
  #header,
  #about-me {
    height: fit-content;
  }
}

@media (max-height: 1000px) and (min-width: 600px) and (max-width: 1000px) {
  #hero {
    height: 100vh;
  }

  /* #projects {
    height: 80vh;
  } */

  .carousel-ul {
    width: 60vw;
  }

  .project-item,
  .project-text-container {
    gap: 10px;
    font-size: var(--step-1);
  }

  .project-title,
  .proj-btn-container {
    font-size: var(--step-2);
  }

  /* Contacts section */
  #contacts {
    height: 70vh;
    font-size: var(--step-2);
  }

  .contacts-container {
    width: 70vw;
    gap: 50px;
  }
}
